@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

/* Apply styles to body */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Extend Tailwind Utilities with custom utility */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
